body{
	margin: 0px;
}

.services{
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background: #FFFFFF;
}


.page_head{
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 20px;
	gap: 20px;
	
	height: 70px;
	
	background: #676767;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.lbl
{
	font-family: 'Roboto';
	font-style: normal;
}

.page_head_title{
	/* page_head_title */
	
	font-size: 24px;
	line-height: 28px;
	font-weight: 800;
	
	color: #FFFFFF;
	
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}



.search_bar{
	width: 448px;
	height: 30px;
	
	/* Vibrant Fills/Vibrant Primary */
	background: #3D3D3D;
	border-radius: 10px;
	
	/* Inside auto layout */
	flex: flex-start;
	align-content: center;
	
	font-weight: 400;
	font-size: 14px;
	
	color: rgba(255, 255, 255, 0.5);
}

/* search_bar */





/* page_body */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 30px;
gap: 630px;

width: 686px;
height: 543px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* card_group */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;

width: 468px;
height: 483px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card */

width: 468px;
height: 141px;

backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;

position: absolute;
width: 467px;
left: calc(50% - 467px/2 - 0.5px);
top: 0%;
bottom: 0%;

background: rgba(217, 217, 217, 0.9);
border-radius: 20px;


/* annuity_payments */

width: 134px;
height: 101px;

background: url(аннуитетные_платежи.png), #E3EEF9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card_body */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 273px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* card_title */

width: 180px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card_description */

width: 273px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* btn */

width: 148px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* btn_frame */

box-sizing: border-box;

position: absolute;
width: 148px;
height: 28px;
left: 0px;
top: 73px;

/* Colors/Blue */
border: 1px solid #007AFF;
border-radius: 10px;


/* more_lbl */

position: absolute;
width: 77px;
height: 17px;
left: 35px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Colors/Blue */
color: #007AFF;



/* card */

width: 468px;
height: 141px;

backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* card */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;

position: absolute;
width: 467px;
left: calc(50% - 467px/2 - 0.5px);
top: 0%;
bottom: 0%;

background: rgba(217, 217, 217, 0.9);
border-radius: 20px;


/* differentiated_payments */

width: 134px;
height: 101px;

background: url(дифф_платежи.png), #E3EEFA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card_body */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 273px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* card_title */

width: 257px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card_description */

width: 273px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* btn */

width: 148px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* btn_frame */

box-sizing: border-box;

position: absolute;
width: 148px;
height: 28px;
left: 0px;
top: 73px;

/* Colors/Blue */
border: 1px solid #007AFF;
border-radius: 10px;


/* more_lbl */

position: absolute;
width: 77px;
height: 17px;
left: 35px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Colors/Blue */
color: #007AFF;



/* card */

width: 468px;
height: 141px;

backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* card */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;

position: absolute;
width: 467px;
left: calc(50% - 467px/2 - 0.5px);
top: 0%;
bottom: 0%;

background: rgba(217, 217, 217, 0.9);
border-radius: 20px;


/* insurance */

width: 134px;
height: 101px;

background: url(страхование.jpg);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card_body */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 273px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* card_title */

width: 175px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* card_description */

width: 273px;
height: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* btn */

width: 148px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* btn_frame */

box-sizing: border-box;

position: absolute;
width: 148px;
height: 28px;
left: 0px;
top: 73px;

/* Colors/Blue */
border: 1px solid #007AFF;
border-radius: 10px;


/* more_lbl */

position: absolute;
width: 77px;
height: 17px;
left: 35px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Colors/Blue */
color: #007AFF;



/* cart_icon */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px;
gap: 10px;

width: 60px;
height: 60px;

background: #D9D9D9;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* material-symbols:article-outline-rounded */

width: 50px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

background: #545454;
