body{
    font-family: 'Inter';
	font-style: normal;
	text-decoration: none;
}

.page_head {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 20px;
	gap: 20px;

	height: 70px;

	background: #fff;
	border-bottom: 3px solid #555;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.lbl {
	font-family: 'Inter';
	font-style: normal;
	text-decoration: none;
}

.page_head_title {
	/* page_head_title */

	font-size: 24px;
	line-height: 28px;
	font-weight: 900;

	color: #FFFFFF;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.page_body{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    
    width: 992px;
    height: 497px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;    
}

.order_title{
    /* order_title */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 0;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card_wrapper{
    width: fit-content;
	height: fit-content;
}

.card{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
    width: 848px;
    
	background: #f0f0f0;
	border-radius: 0.5rem;
	border: 1px solid #bbb;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    
}

.card_body{
    /* card_body */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.desc{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    width: fit-content;
}

.card_image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin-left: 10px;
    
    width: 134px;
    height: 101px;
    
    background: #E3EEF9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card_image img {
    flex-shrink: 1;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
}
    
.value_wrapper{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 20px;

    align-items: center;
}

.value_input_wrapper {
	justify-content: center;
	border: #bbb solid 1px;
	border-radius: 0.375rem;
    background: #fff;
}

.value_input{
    width: 160px;
    font-size: 20px;

    padding-left: 10px;

	background: transparent;

	/* Vibrant Fills/Vibrant Primary */
	border: none;
	text-align: left;

	/* Inside auto layout */
	flex: flex-start;
	align-content: center;
}

.value_input::placeholder {
	color: #bbbbbb;
}

.value_input:focus-visible{
	outline: none;
}

.btn {
	width: 148px;
	height: 28px;
	background: #bbb;

	border: 1px solid #bbb;
	border-radius: 0.375rem;

	color: white;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;

	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}

.btn:hover {
	background: #aaa;
	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
	cursor: pointer;
}

.interest_rate_wrapper{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 20px;

    align-items: center;
}

.interest_rate_input_wrapper {
	justify-content: center;
	border: #bbb solid 1px;
	border-radius: 0.375rem;
    background: #fff;
}

.interest_rate_input{
    width: 50px;
    font-size: 20px;

    padding-left: 10px;

	background: transparent;

	/* Vibrant Fills/Vibrant Primary */
	border: none;
	text-align: left;

	/* Inside auto layout */
	flex: flex-start;
	align-content: center;
}

.interest_rate_input::placeholder {
	color: #bbbbbb;
}

.interest_rate_input:focus-visible{
	outline: none;
}
