.lbl {
	font-family: 'Inter';
	font-style: normal;
	text-decoration: none;
}

.page_head_title {
	/* page_head_title */



	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.page_body {/* page_body */

	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px;
	gap: 25px;
	
	
	/* Inside auto layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	
}

.main{
	/* main */

	/* Auto layout */
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 25px 0px;
	gap: 25px;
	
	margin: 0 auto;
	
	/* Inside auto layout */
	order: 0;
	flex-grow: 0;
	}

.tools{
	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}

.card_group {
	/* Auto layout */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	gap: 30px;

	max-width: 2000px;
	height: fit-content;

	/* Inside auto layout */
	order: 0;
	flex-grow: 0;
}

.search_bar_wrapper {
	justify-content: center;
	border: #bbb solid 1px;
	border-radius: 0.375rem;
}

.search_bar {
	width: 448px;
	height: 30px;
	padding-left: 10px;

	background: transparent;

	/* Vibrant Fills/Vibrant Primary */
	border: none;
	text-align: left;

	/* Inside auto layout */
	flex: flex-start;
	align-content: center;

	font-weight: 400;
	font-size: 14px;

	color: #bbb;
}

.search_bar::placeholder {
	color: #bbbbbb;
}

.search_bar:focus-visible{
	outline: none;
}

.card_wrapper {
	width: fit-content;
	height: fit-content;
}

.card {

	padding: 20px;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;

	background: #f0f0f0;
	border-radius: 0.5rem;
	border: 1px solid #bbb;

	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;

	width: 467px;
	left: calc(50% - 467px/2 - 0.5px);
	top: 0%;
	bottom: 0%;
}

.card_body {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;

	width: 273px;
	height: 101px;


	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.card_image {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	width: 134px;
	height: 101px;

	background: #E3EEF9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
}

.card_image img {
	flex-shrink: 1;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%
}

.card_title {
	height: 20px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;

	color: #000000;


	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.card_description {
	width: 273px;
	height: 34px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	color: #000000;


	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.btn {
	width: 148px;
	height: 28px;
	background: red;

	border: 1px solid red;
	border-radius: 0.375rem;

	color: white;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;

	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}

.btn:hover {
	background: #E00000;
	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
	cursor: pointer;
}

.btn:active {
	background: #C00000;
}

#1 {

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

#2 {
	width: 134px;
	height: 101px;

	background: #E3EEFA;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

#3 {
	width: 134px;
	height: 101px;

	background: #E3EEFA;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.icon_group {
	/* icon_group */

	/* Auto layout */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 30px;
	margin: 25px;
	
	
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	

}

.icon {
	/* cart_icon */

	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
	text-decoration: none;
	
	background: #f0f0f0;
	border-radius: 0.5rem;
	border: 1px solid #bbb;

	color: black;
	
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;

	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}

.icon:hover {
	background: #C9C9C9;
	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
	cursor: pointer;
}

.icon:active {
	background: #B9B9B9;
}

#recent_icon {
	width: 35px;
	height: 35px;
	filter: invert(36%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(86%) contrast(90%);
}

#cart_icon {
	width: 35px;
	height: 35px;
	filter: invert(36%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(86%) contrast(90%);
}

.fill-div{
	display: block;
	width: 100px;
	height: 100px;
	text-decoration: none;
}