<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        body {
            margin: 0 100px;
            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            background: #FFFFFF;
        }
    </style>
    {% block head %}{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>