<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ипотека</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <div class=page_head>
      <span class="page_head_title lbl">Расчёт ипотеки</span>
    </div>
    <div class=page_body>
      <div class=card_group>
        <div class="search_bar_wrapper">
          <input class="search_bar" placeholder="Поиск услуг"></input>
        </div>
        <div class="card_wrapper">
          <div class=card>
            <div class="card_image" id="annuity_payments">
              <img src="./src/аннуитетные_платежи.png">
            </div>
            <div class=card_body>
              <span class="card_title">Аннуитетные платежи</span>
              <span class="card_description">Узнайте, сколько нужно платить в месяц в рассчете на равные доли</span>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="card_wrapper">
          <div class=card>
            <div class="card_image" id="differentiated_payments">
              <img src="./src/дифф_платежи.png">
            </div>
            <div class=card_body>
              <span class="card_title">Дифференцированные платежи</span>
              <span class="card_description">Спланируйте оплату ипотеки уменьшающимися платежами</span>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
        <div class="card_wrapper">
          <div class=card>
            <div class="card_image" id="insurance">
              <img src="./src/страхование.jpg">
            </div>
            <div class=card_body>
              <span class="card_title">Страхование ипотеки</span>
              <span class="card_description">Рассчитайте ежемесячные платежи за страховку ипотеки</span>
              <button class="btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class=icon_group>
        <div class=icon>
          <img id="recent_icon" title="Недавние расчеты" src="./src/time.svg">
        </div>
        <div class=icon>
          <img id="cart_icon" title="Ваши запросы" src="./src/file-document.svg">
        </div>
      </div>
    </div>
</body>

</html>