{% extends 'main/base.html' %}
{% load static %}

{% block title %}Ипотека{% endblock %}

{% block styles %} <link rel="stylesheet" href="{% static 'main/css/style.css' %}"> {% endblock %}

{% block head_title %}Расчёт ипотеки{% endblock %}

{% block content %}
  <div class="page_body">
    <div class="main">
      <div class="search_bar_wrapper">
        <form action="{% url 'services' %}" method="GET" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="text" class="search_bar" value="{{ request.GET.text }}" placeholder="Поиск услуг">
        </form>
      </div>
      <div class=card_group>
        {% for data in data %}
        <div class="card_wrapper">
          <div class=card>
            <div class="card_image" id="{{ data.id }}">
              <img src="{{ data.image }}">
            </div>
            <div class=card_body>
              <span class="card_title">{{ data.title }}</span>
              <span class="card_description">{{ data.description }}</span>
              <form action="{% url 'service_description' data.id %}" method="GET" enctype="multipart/form-data">
                <button class="btn">Подробнее</button>
              </form>
            </div>
          </div>
        </div>     
        {% empty %}
        <span>услуги не найдены</span>
        {% endfor %}
      </div>
    </div>
    <div class="icon_group">
          <a href="{% url 'calculations' %}" class="icon">
            <img id="cart_icon" title="Ваши запросы" src="http://172.18.0.3:9000/images/file-document.svg">
            <span class="lbl">1</span>
          </a>
      <!-- <div class=icon>
        <img id="recent_icon" title="Недавние расчеты" src="http://172.18.0.3:9000/images/time.svg">
      </div> -->
    </div>
  </div>
  {% endblock %}